<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-atom" >
  <p style="font-size: 24px; color: white">Please wait...</p>
</ngx-spinner>
<div class="content">
    <h2>Companies</h2>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <a mat-raised-button routerLink="/company-edit" style="float: right" color="primary">Add a Company</a>
  <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
          <ng-container matColumnDef="CompanyId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Id</th>
          <td mat-cell *matCellDef="let row">{{row.CompanyId}}</td>
        </ng-container>
    
        <!-- CompanyName Column -->
        <ng-container matColumnDef="CompanyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
          <td mat-cell *matCellDef="let row">{{row.CompanyName}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [ngClass]="{ 'selected': row === selectedRow }"></tr>
  </table>
          
  <mat-paginator #paginator showFirstLastButtons
      [length]="dataSource.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100, 250]">
  </mat-paginator>
</div>
