<div id="container">
  <h3>
    Angular 9.0.0-next.4 Sample App
  </h3>
  <h3>
    Libaries used (listed using an observable from Rxjs):
  </h3>
  <ul id="output"></ul>

  <p>Below is an example of one of the many Material Design controls that can be used by Angular 9. For more, visit:
    <a href="https://material.angular.io/" target="_blank">Material Design</a>
  </p>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
